@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
  background:#E5E5E5;
  font-family: "Inter", sans-serif;
  font-size:32px;
  font-weight: 400;
  line-height: 150%;
 
}
body,html{
   padding: 0;
   margin: 0;
   height: 100vh;
   width: 100vw;
}

.slogan_alura{
   display: inline;
   height: 48px;
   width: 120px;
   margin-top:40px;
   margin-left:40px;
}

.container{
   display:flex;
   gap:10px;
   align-items: center;
   justify-content: space-around;
   margin-left:260px;
   margin-top: 2px;
}
.campo_texto_botoes{
   display:inline;
}
.botao_criptografar,
.botao_descriptografar{
 
   font-size:16px;
   cursor: pointer;
   width:328px;
   height:68px;
   border-radius:24px;
   margin-bottom:40px;
   margin-top:15px;
   gap:24px;
}

.botao_criptografar{
   background-color:Darkblue;
  
}
.botao_descriptografar{
   background-color:#D8DFE8;
   
}
.botao_copiar{
   align-self:center;
   width:328px;
   height:68px;
   font-size: 16px;
   border-radius:24px;
   margin-bottom:80px;
   margin-top:10px;
   margin-left:80px;
   align-items: center;
   position: absolute;
 }
 #botao_copiar{
   display: none;
 }
.container2{
   display: flex;
   align-items: center;
  
}
  
img{
   height:12px;
   width:12px;
   margin-top:35%;
   margin-bottom: 2px;
   margin-left:30px;

} 
h6{
   line-height:18px;
   font-size:12px;
   font-weight:400;
   color:#495057;
   margin-top:35%;
   margin-bottom: 2px;
   margin-left:6px;
}


.campo_texto{
   
   border:none;
   width:680px;
   height:400px;
   margin-top:24px;
   color: #0A3871;
   
  
}

.container_campo_resposta{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   margin-top: 50px;
   position: relative;
 
}
.campo_resposta{
   position: relative;
   border-radius:32px;
   border: none;
   background-color:white;
   height:944px;
   width:400px;
   margin-left:90px;
   margin-bottom:10%;
   max-width: 600px; 
   margin-right: 20px;
   background-image:url(/img/boneca.png); 
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   color: #0A3871;
   padding-left:30px;

}


#textarea1::placeholder{
 align-items: center;
 font-size: 16px;
 line-height: 24px;
 font-weight: 400;
 padding-top:20px;

}


footer,h5{
   font-size: 18px;
   background-color:#9c9ea5;
   text-align: center;
   width: 100%;
   padding:5px;

}

